*{
    background-color: rgb(0, 0, 0);
}
@font-face {
    font-family:MYnumber;
    src: url('./Components/Navbar/Bone0.ttf');
  }
@font-face {
    font-family:MYcharacter;
    src: url('./Components/Navbar/Btwo.otf');
  
  }